<a [routerLink]="['/todos', todo?.id]">Back to detail</a>
<h2>todo-edit</h2>
<ng-container *ngIf="todo; else elseBlock">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <p>
      <button type="submit" [disabled]="isFetching || form.invalid">
        Save
      </button>
    </p>
    <table>
      <tbody>
        <tr>
          <td>title</td>
          <td>
            <input type="text" formControlName="title" />
          </td>
        </tr>
        <tr>
          <td>completed</td>
          <td>
            <input type="checkbox" formControlName="completed" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</ng-container>
<ng-template #elseBlock>loaging...</ng-template>
